
		.outer-div {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.beats {
			width:400px;
		}
		.panel{
			width:200px;
			height:460px;
		}
		.Rex-baner{
			margin-left:auto;
			margin-right:auto;
		}
		body{
			background-color:rgb(11,0,43);
			font-family:arial;
		}
		iframe{
			background-color:white;
			border: solid black;
		}
		a{
			font-weight:bold;
			color:white;
		}
		a:hover{
			color:white
			text-decoration:underline;
			background-color:red;
		}
		a:visited{
			text-decoration:underline;
		}
		h1{
			color:white;
		}
		.button{
			width:150px;
			height:150px;
			float:left;
			margin-left:20px;
			margin-top:10px;
			background-color:#d8d823;
			border:5px solid white;
			color: white;
			font-weight: bolder;
			text-align:center;
		}
		.button span {
			position: relative;
			float: left;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.red{
			background-color:red;
		}
		.orange{
			background-color:#ffa200;
		}
		.green{
			background-color:green;
		}
		.black{
			background-color:black;
		}
		.blue{
			background-color:#a1a1f0;
		}
		#store-beats{
			display:none;
		}
@media only screen and (max-width: 500px) {
    .outer-div{
		display:block;
		width:100%;
	}
	.beats{width:100%}
	.samples{width:100%}
	.button{
		width:100px;
		height:100px;
		font-size:15px;
	}
}